[submodule "frontend"]
	path = frontend
	url = https://github.com/VikkiKobal/Restaurant-Menu.git
[submodule "backend"]
	path = backend
	url = https://github.com/VikkiKobal/Restaurant-Menu-Backend.git
